:root {
  /* Colors */
  --primary-color: hsl(259, 100%, 65%);
  --error-color: hsl(0, 100%, 67%);
  --hover-color: hsl(259, 96%, 73%);

  /* Neutral */
  --white-color: hsl(0, 0%, 100%);
  --off-white-color: hsl(0, 0%, 94%);
  --light-grey-color: hsl(0, 0%, 86%);
  --smokey-grey-color: hsl(0, 1%, 44%);
  --off-black-color: hsl(0, 0%, 8%);

  /* Typography */
  --font-family: 'Poppins', sans-serif;
  --regular-fw: 400;
  --bold-fw: 700;
  --extra-bold-fw: 800;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--off-white-color);
  font-family: var(--font-family);
}

.app-container {
  display: flex;
  flex-direction: column;
  background-color: var(--white-color);
  border-radius: 18px;
  border-bottom-right-radius: 120px;
  padding: 30px;
}

.birth-date {
  display: grid;
  grid-template-columns: repeat(4, 120px);
  padding: 12px 0;
  row-gap: 5px;
  column-gap: 20px;
  position: relative;
}

.birth-date input {
  grid-row: 2;
  padding: 10px;
  max-width: 140px;
  border: 1px solid var(--light-grey-color);
  color: var(--off-black-color);
  font-size: 1.2rem;
  font-weight: var(--bold-fw);
  font-family: var(--font-family);
  border-radius: 6px;
}

.birth-date input::placeholder {
  font-size: 1.2rem;
  font-weight: var(--bold-fw);
  font-family: var(--font-family);
  color: var(--smokey-grey-color);
}

.birth-date span {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 10px;
  color: var(--smokey-grey-color);
}

.birth-date img {
  grid-column: -2;
  grid-row: 3;
  width: 70px;
  padding: 12px;
  border-radius: 50%;
  justify-self: end;
  background-color: var(--primary-color);
  cursor: pointer;
  z-index: 0;
}

.birth-date img:hover {
  background-color: var(--hover-color);
  transition: all .4s ease-in-out;
}

.birth-date .line::before {
  content: "";
  position: absolute;
  top: 72%;
  left: 0;
  width: 87%;
  height: 2px;
  background-color: var(--light-grey-color);
}

.age-display {
  font-size: 4.2rem;
  font-style: italic;
  font-weight: var(--extra-bold-fw);
  line-height: 70px;
  padding-bottom: 15px;
}

.age-display span {
  color: var(--primary-color);
  letter-spacing: 10px;
}

.invalid-day,
.invalid-month,
.invalid-year {
  grid-row: 3;
  color: var(--error-color);
  font-weight: var(--regular-fw);
  font-style: italic;
  font-size: 10px;
  display: none;
}

input:focus {
  outline: none;
  border: 1px solid var(--primary-color);
}
